<!--TODO: Style the alerts, devise uses them -->
<% if notice %>
  <div role="alert">
    <button type="button" aria-label="Close"></button>
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div role="alert">
    <button type="button" aria-label="Close"></button>
    <%= alert %>
  </div>
<% end %>
